*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Node backend files
/backend/node_modules/
/backend/.env
/poised-aleph-500718-k9-4379e602e7e1.json
/client_secret_254880408218-fohnvpsgced9sivrhjpf5o3q1madvof3.apps.googleusercontent.com.json
.kotlin/
